.form-auth-box {
    text-align: center;
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 25px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #f9f9f9;
}

.form-auth-box form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form-auth-box p {
    font-size: 24px;
    font-weight: bold;
}

.form-auth-box input {
    box-sizing: border-box;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    margin-top: 25px;
    outline: none;
}

.form-auth-box input:focus {
    border-color: #40a9ff;
}

.form-auth-box button {
    color: #fff;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    outline: none;
    margin-top: 25px;
    transition: all .2s;
}

.disabled-btn {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 0 rgba(0,0,0,0.045);
  cursor: not-allowed;
}

.active-btn {
  background: #1890ff;
  border-color: #1890ff;
  cursor: pointer;
}

.validation {
    font-size: 12px;
    margin-top: 10px;
    color: red;
}

.toggle-button {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.toggle-button button {
    background: #e0e0e0;
    color: #333;
}

.form-auth-box .active-button {
    color: #fff;
    background: #3C9B5D;
}

.header-todo-app {
    background: #74bcff;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    margin-bottom: 150px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.link-back {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    text-decoration: none;
}

.errorMessage {
    display: flex;
    flex-direction: column;
    line-height: 25px;
	font-size: 14px;
    color: red;
    text-align: center;
}

.console-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.console-paginator li {
    background: #fff;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}

.console-paginator li a {
    color: #1890ff;
    padding: 6px 10px;
    display: block;
}

.console-paginator .previous {
    margin-right: 25px;
}

.console-paginator .next {
    margin-left: 25px;
}

.console-paginator .selected {
    background: #1890ff;
    border: 1px solid #1890ff;
}

.console-paginator .selected a {
    color: #fff;
}

.error-message {
  font-size: 14px;
  margin-top: 25px;
  color: red;
}
