html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

a {
	color: #fff;
	outline: none;
	text-decoration: none;
}

#root {
	width: 100%
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
	width: 100%;
	margin: 0 auto;
}

.link-todos {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

.activeLink {
	color: red;
}

.auth-link {
	text-align: center;
	margin-top: 120px;
	font-size: 24px;
}

.auth-link a {
	color: #1581e5;
	font-weight: bold;
}